useless_code/*
.ipynb_checkpoints
configs/*
.idea
allen/
manifest.json
structures.json
visual/
ms_regnet/preprocess/transspace/
ms_regnet/tools/
deform/__pycache__/
ms_regnet/__pycache__/
ms_regnet/preprocess/__pycache__/
resize/__pycache__/
